---
import GuestItem from "./GuestItem.astro";
---


<ul id="guest-list" class="m-0 p-2 list-none overflow-auto flex flex-col gap-8 rounded-md border border-gray-300 h-full md:w-[70%] lg:w-[50%]">
  <template id="guest-item-template">
    <GuestItem 
      guest_name="Daniel Perez"
      guest_email="******@correo.com"
      indications="traer comida"
      temp_id={0}
    />
  </template>
</ul>
<button type="submit" id="sendListBtn" class="w-full md:w-[70%] lg:w-[50%] flex justify-center py-3 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-pink-700 hover:bg-pink-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-800 transition-colors duration-200"> enviar lista </button>
<script>
  // @ts-nocheck
import ky from 'ky';
import { BACK_ENDPOINT } from '../../config/endpoints';
import guestModule, { guests } from './guest.module';
const guestList = document.querySelector('#guest-list');
const guestItemTemplate = document.querySelector('#guest-item-template');
const sendListBtn = document.querySelector('#sendListBtn');
await guestModule.getLocalGuestList();

guests.subscribe(guests => {
  guestList.innerHTML = ''; // Limpia la lista actual
  for (const guest of guests) {
    const guestItem = guestItemTemplate.content.cloneNode(true);
    
    const nameInput = guestItem.querySelector('input:nth-child(1)');
    const emailInput = guestItem.querySelector('input:nth-child(2)');
    const indicationsInput = guestItem.querySelector('input:nth-child(3)');
    const liElement = guestItem.querySelector('li');
    liElement.id = guest.temp_id;
    nameInput.value = guest.guest_name;
    emailInput.value = guest.guest_email;
    indicationsInput.value = guest.indications;
    guestList.append(guestItem);
  }
});

document.addEventListener('DOMContentLoaded', () => {
  guestModule.getLocalGuestList();
});
// Manejar el evento de enviar lista
sendListBtn.addEventListener('click', async () => {
  await guestModule.sendGuestList();
});





  
</script>