---
import AuthProtected from "../features/auth/AuthProtected.astro"
import CreateGuestForm from "../features/Guest/CreateGuestForm.astro"
import Layout from "../layouts/Layout.astro"
---


<Layout>
    <AuthProtected>
        <main class="min-h-screen flex items-center justify-center px-4 py-12">
            <CreateGuestForm/>
       
    </main>
    </AuthProtected>
    
</Layout>


<script>
     // @ts-nocheck
      
        
</script>