---
import Layout from "../layouts/Layout.astro";
import AuthProtected from "../features/auth/AuthProtected.astro";
import HomeEventList from "../features/dashboard/HomeEventList.astro";
---


<Layout>
    <AuthProtected>
        <main class="min-h-screen flex items-center justify-center px-4 py-12 bg-gray-50">
          <HomeEventList>
        </main>
    </AuthProtected>
</Layout>